<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!--<connectionStrings>
		<add name="EventStore" providerName="System.Data.SqlClient"
			 connectionString="Data Source=(local);Initial Catalog=EventStore-Example;Integrated Security=SSPI;" />
	</connectionStrings>-->
  
  

    <configSections>
    </configSections>
    <connectionStrings>
       <!-- <add name="EventStore.Example.Properties.Settings.ESDBConnectionString"
            connectionString="Data Source=|DataDirectory|\ESDB.sdf" 
             providerName="Microsoft.SqlServerCe.Client.4.0" />-->

        <add name="MYSQL" 
             connectionString="server=localhost;User Id=root;Persist Security Info=True;database=eventstoretest;password=test" 
             providerName="MySql.Data.MySqlClient"/>

    </connectionStrings>
</configuration>